.learntag {
  ul.img-items {
    padding: 0;
    margin: 30px 0;
    text-align: center;

    li.img-item {
      width: 25%;
      min-width: 210px;
      display: inline-block;
      list-style: none;
      padding: 5px;

      .image {
        cursor: pointer;
        padding: 7px;
        background: #eee;
        display: inline-block;
        width: 200px;
        height: 200px;

        img {
          margin: 0 auto;
          width: 100%;
        }
      }

      .image::after {
        position: absolute;
        display: block;
        content: "";
        top: 205px;
        margin-left: 45px;
        width: 0;
        height: 0;
        border-top: 15px solid #eee;
        border-left: 15px solid transparent;
      }

      .lang1 {
        margin-top: 20px;
        font-size: 16px;
        color: gray;
      }

      .lang2 {
        font-size: 18px;
      }
    }

    >li.img-item:last-child {
      width: 100%;
      margin: 30px 0;

      .question {
        padding: 5px 10px;
        line-height: 1.5em;
        display: inline-block;
        background: #eee;
        border-radius: 4px
      }
    }

    li.img-item.hover:hover {
      .image {
        background: #eea900;
      }

      .image::after {
        border-top: 15px solid #eea900;
        border-left: 15px solid transparent;
      }
    }

    li.img-item.success {
      .image {
        background: #00ee21 !important;
      }

      .image::after {
        border-top: 15px solid #00ee21 !important;;
        border-left: 15px solid transparent !important;;
      }
    }

    li.img-item.error {
      .image {
        background: #ee0005 !important;;
      }

      .image::after {
        border-top: 15px solid #ee0005 !important;;
        border-left: 15px solid transparent !important;;
      }
    }
  }
  /* helpers */
  .animate {
    opacity:0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }

  .animate.fadeIn {
    opacity:1;
  }
}